<style>

  body {
    margin: 0px;
    padding: 0px;
  }

  svg {
    float:left;
  }

  canvas {
    float:right;
    background: #333;
  }

</style>
<svg></svg>
<canvas></canvas>
<script src="lib/d3.js"></script>
<script src="src/main.js"></script>
<script src="test.js"></script>
